@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model FrotiX.Pages.Usuarios.UpsertRecursoModel

@{
    ViewData["Title"] = "Recursos";
    ViewData["PageName"] = "Recurso_index";
    ViewData["Heading"] = "<i class='fad fa-car-wash'></i> Cadastros: <span class='fw-300'>Recursos</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fal fa-car-wash";
}


<style>
    .form-control-xs {
        height: calc(1em + .775rem + 2px) !important;
        padding: .125rem .25rem !important;
        font-size: .75rem !important;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .label {
        margin-bottom: -5px;
        margin-top: 10px;
    }

    input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .escondido {
        display: none;
    }

    .espacofundo{
        padding-bottom: 20px;
    }

</style>

@section HeadBlock {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/dropify.min.css" />

}


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row espacofundo">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div id="painelfundo" class="panel-container show espacofundo">
                    <div class="panel-content">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (Model.RecursoObj.Recurso.RecursoId != Guid.Empty)
                        {
                            <input type="hidden" asp-for="RecursoObj.Recurso.RecursoId" />
                        }

                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="text-primary">@(Model.RecursoObj.Recurso.RecursoId != Guid.Empty ? "Atualizar " : "Criar ") Recurso  </h2>
                        </div>

                        <div class="col-12 pt-3">

                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="RecursoObj.Recurso.Nome"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="RecursoObj.Recurso.Nome"></span>
                                        <input class="form-control form-control-xs" asp-for="RecursoObj.Recurso.Nome" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="RecursoObj.Recurso.NomeMenu"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="RecursoObj.Recurso.NomeMenu"></span>
                                        <input class="form-control form-control-xs" asp-for="RecursoObj.Recurso.NomeMenu"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="RecursoObj.Recurso.Descricao"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="RecursoObj.Recurso.Descricao"></span>
                                        <input class="form-control form-control-xs" asp-for="RecursoObj.Recurso.Descricao"/>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="RecursoObj.Recurso.Ordem"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="RecursoObj.Recurso.Ordem"></span>
                                        <input class="form-control form-control-xs" asp-for="RecursoObj.Recurso.Ordem"/>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="row  float-left">
                                        <div class="col-6  float-left">

                                            @if (Model.RecursoObj.Recurso.RecursoId != Guid.Empty)
                                            {
                                                <button method="post" asp-page-handler="Edit" asp-route-id=@Model.RecursoObj.Recurso.RecursoId class="btn btn-primary form-control" style="width:200px">Atualizar</button>
                                            }
                                            else
                                            {
                                                <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-primary form-control" style="width:200px">Criar</button>
                                            }


                                        </div>
                                        <div class="col-6  float-right">
                                            <a asp-page="./Recursos" class="btn btn-success form-control" style="width:200px">Voltar à Lista</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</form>

@section ScriptsBlock
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/dropify.min.js"></script>

    <script>





    </script>



}
