@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model FrotiX.Pages.Usuarios.UpsertModel

@{
    ViewData["Title"] = "Usuários";
    ViewData["PageName"] = "Usuarios_upsert";
	ViewData["Heading"] = "<i class='fa-duotone fa-regular fa-users'></i> Cadastros: <span class='fw-300'>Usuários</span>";
    ViewData["Category1"] = "Cadastros";
	ViewData["PageIcon"] = "fa-duotone fa-light fa-users";
}


<style>
    .form-control-xs {
        height: calc(1em + .775rem + 2px) !important;
        padding: .125rem .25rem !important;
        font-size: .75rem !important;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .label {
        margin-bottom: -5px;
        /* margin-top: 10px; */
    }

    input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .escondido {
        display: none;
    }

    .espacofundo{
        padding-bottom: 20px;
    }

</style>

@section HeadBlock {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/dropify.min.css" />

}


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row espacofundo">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div id="painelfundo" class="panel-container show espacofundo">
                        <div class="panel-content">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (Model.UsuarioObj.Id != null)
                            {
                                <input type="hidden" asp-for="UsuarioObj.Id" />
                            }

                            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                                <h2 class="text-primary">@(Model.UsuarioObj.Id != null ? "Atualizar " : "Criar ") Usuário  </h2>
                            </div>

                            <div class="col-12 pt-3">

                                <div class="row">
									<div class="col-2">
										<div class="form-group">
											<label class="label font-weight-bold" asp-for="UsuarioObj.AspNetUsers.Ponto"></label>
											<span class="text-danger font-weight-light" asp-validation-for="UsuarioObj.AspNetUsers.Ponto"></span>
											<input id="txtPonto" class="form-control form-control-sm" asp-for="UsuarioObj.AspNetUsers.Ponto" />
										</div>
									</div>
									<div class="col-4">
                                        <div class="form-group">
                                            <label class="label font-weight-bold" asp-for="UsuarioObj.AspNetUsers.NomeCompleto">Nome Completo</label>
											<span class="text-danger font-weight-light" asp-validation-for="UsuarioObj.AspNetUsers.NomeCompleto"></span>
											<input class="form-control form-control-sm" asp-for="UsuarioObj.AspNetUsers.NomeCompleto" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
											<label class="label font-weight-bold" asp-for="UsuarioObj.AspNetUsers.Ramal"></label>
											<span class="text-danger font-weight-light" asp-validation-for="UsuarioObj.AspNetUsers.Ramal"></span>
											<input class="form-control form-control-sm" asp-for="UsuarioObj.AspNetUsers.Ramal" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-group">
											<label class="label font-weight-bold" asp-for="UsuarioObj.AspNetUsers.UserName">Login</label>
											<span class="text-danger font-weight-light" asp-validation-for="UsuarioObj.AspNetUsers.UserName"></span>
											<input id="txtUserName" class="form-control form-control-sm" asp-for="UsuarioObj.AspNetUsers.UserName" disabled />
                                        </div>
                                    </div>
                                </div>

								<br />

                                <div class="row">
									<div class="col-3">
										<div class="form-group">
											<label class="label font-weight-bold">
											<input type="checkbox" class="form-check-input" asp-for="UsuarioObj.AspNetUsers.Status" checked />
												Status (Ativo/Inativo)
											</label>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group">
											<label class="label font-weight-bold">
											<input type="checkbox" class="form-check-input" asp-for="UsuarioObj.AspNetUsers.DetentorCargaPatrimonial" checked />
												Detentor de Carga Patrimonial
											</label>
										</div>
									</div>
                                </div>

                                <br />
                                <br />

                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="row  float-left">
                                            <div class="col-6  float-left">

                                                @if (Model.UsuarioObj.AspNetUsers.Id != null)
                                                {
												<button method="post" asp-page-handler="Edit" asp-route-id=@Model.UsuarioObj.AspNetUsers.Id class="btn btn-primary form-control" style="width:200px">Atualizar</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-primary form-control" style="width:200px">Criar</button>
                                                }


                                            </div>
                                            <div class="col-6  float-right">
											<a asp-page="./Index" class="btn btn-success form-control" style="width:200px">Voltar à Lista</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
   </div>


</form>

@section ScriptsBlock
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/dropify.min.js"></script>

	<script>
		const txtPonto = document.getElementById('txtPonto');
		const txtUserName = document.getElementById('txtUserName');

		txtPonto.addEventListener('blur', function() {
			let valor = txtPonto.value.trim();

			// Verifica se o valor inicia com "p_" ou "P_"
			if (!valor.startsWith('p_') && !valor.startsWith('P_')) {
				valor = 'p_' + valor;
			}

			// Define o valor no segundo campo
			txtUserName.value = valor;
			txtPonto.value = valor;
		});
	</script>



}
