<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  <add key="Stimulsoft Reports 2023.1.1" value="D:\Frotix\Stimulsoft Reports 2023.1.1" />
  <add key="TeleriK Reporting 18.1.24.514" value="D:\Frotix\Telerik.Reporting.Nupkg.18.1.24.514" />
  <add key="Telerik 2023 R1 SP2" value="D:\Frotix\Telerik.Nupkg.2023R1SP2" />
 </packageSources>
</configuration>
