@page
@model FrotiX.Models.Fornecedor

@{
    ViewData["Title"] = "Fornecedores";
    ViewData["PageName"] = "fornecedor_index";
    ViewData["Heading"] = "<i class='fa-duotone fa-buildings'></i> Cadastros: <span class='fw-300'>Fornecedores</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fa-duotone fa-buildings";
}

@section HeadBlock {


}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .label {
        color: white;
    }
</style>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content float-right">
                    <a href="/Fornecedor/Upsert" class="btn btn-info">
                        <i class="fa-regular fa-buildings">
                        </i> &nbsp; Adicionar Fornecedor
                    </a>
                </div>
                <div class="panel-content ">
                    <div class="box-body">
                        <br /><br />
                        <table id="tblFornecedor" class="table table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>Descricao</th>
                                    <th>CNPJ</th>
                                    <th>Contato</th>
                                    <th>Telefone</th>
                                    <th>Status</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptsBlock{

    <script src="~/js/cadastros/fornecedor.js"></script>


}
