@page
@model FrotiX.Models.Patrimonio

@{
    ViewData["Title"] = "Patrimônios";
    ViewData["PageName"] = "patrimonio_index";
	ViewData["Heading"] = "<i class='fa-duotone fa-solid fa-print-magnifying-glass'></i> Cadastros: <span class='fw-300'>Patrimônios</span>";
    ViewData["Category1"] = "Cadastros";
	ViewData["PageIcon"] = "fa-regular fa-print-magnifying-glass";
    
}

@section HeadBlock {


}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .label {
        color: white;
    }
</style>



<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content float-right">
                    <a href="./Patrimonio/Upsert" class="btn btn-info">
						<i class="fa-regular fa-arrows-turn-to-dots">
                        </i> &nbsp; Adicionar Patrimônio
                    </a>
                </div>
                <div class="panel-content ">
                    <div class="box-body">
                        <br /><br />
                        <table id="tblPatrimonio" class="table table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>NPR</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Descrição</th>
                                    <th>Setor Atual</th>
                                    <th>Secao atual</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section ScriptsBlock{


    <script src="~/js/cadastros/patrimonio_102.js"></script>

}
