
@page
@model UsuariosModel
@{
    ViewData["Title"] = "Usuários";
    ViewData["PageName"] = "authorization_usuarios";
    ViewData["Heading"] = "<i class='fal fa-shield-alt'></i> Cadastros: <span class='fw-300'>Usuários</span>";
    ViewData["Category1"] = "Authorization";
    ViewData["PageIcon"] = "fa-shield-alt";
}

@section HeadBlock {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }
    .label {
        color: white;
    }
</style>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-list" class="table table-bordered table-hover table-striped w-100"></table>
                    <section class="content float-right">
                        <div class="row float-right">
                            <div class="col-xs-12 float-right">
                                <div class="box float-right">
                                    <div class="box-header float-right" style="padding-bottom: 10px; padding-right: 10px">
                                        <a href="/admin/user/create" class="btn btn-info">
                                            <i class="fa fa-user-plus">
                                            </i> Adicionar Usuário
                                        </a>
                                        <div class="box-body">
                                            <span id="message"></span>

                                            <table id="tblUser" class="table table-bordered table-striped style="width:100%"">
                                                <thead>
                                                    <tr>
                                                        <th>Usuário</th>
                                                        <th>Nome</th>
                                                        <th>Email</th>
                                                        <th>Papel</th>
                                                        <th>Data de Registro</th>
                                                        <th>Status</th>
                                                        <th>Ação</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script src="~/js/usuarios.js"></script>

}