@page

@using FrotiX.Repository.IRepository
@using Syncfusion.EJ2
@using Stimulsoft.Report.Mvc;
@using FrotiX.Services

@model FrotiX.Models.Multa

@{
    ViewData["Title"] = "Cupons";
    ViewData["PageName"] = "abastecimento_registracupons";
    ViewData["Heading"] = "<i class='fa-duotone fa-scroll'></i> Cupons: <span class='fw-300'>Registro de Cupons</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fa-duotone fa-scroll";
}

@section HeadBlock {



    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>

}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .fundo-laranja {
        background-color: #D2691E;
        color: white;
    }

    .fundo-chocolate {
        background-color: #7B3F00;
        color: white;
    }

    h3:after {
        content: ' ';
        display: block;
        border: 2px solid #d0d0d0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .img {
        width: 100%;
    }

    .modal-dialog {
        max-width: 50%;
        height: 100%;
        margin: 0 auto !important;
    }

    .btn_topo {
        margin-top: 3px;
    }
</style>

<script>

    var URLapi = "api/abastecimento/ListaRegistroCupons";

    var IDapi = "";


    //------ Lista Todas os Registros -------------
    //=============================================

    function ListaTodosRegistros() {


        console.log("Lista Todos");

        URLapi = "api/abastecimento/ListaRegistroCupons";

        IDapi = "";

        ListaTblCupons(URLapi, IDapi);

    }

    //Ajusta funcionamento do RTE no Modal
    //====================================
    var defaultRTE;

    function onCreate() {
        defaultRTE = this;
    }

</script>

<form>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content float-right">
                        <a href="/Abastecimento/UpsertCupons" class="btn btn-info">
                            <i class="fa-light fa-scroll">
                            </i> &nbsp; Importar Registro de Cupons de Abastecimento
                        </a>
                    </div>
                    <div class="panel-content ">
                        <div class="box-body">
                            <br /><br />
                            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                                <h2 class="text-primary">
                                    Escolha a data desejada para visualizar os Cupons:
                                </h2>
                            </div>
                            <br />
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-8 col-sm-3">
                                        <br />
                                        <label class="label font-weight-bold color-black ">Escolha uma Data</label>
                                        <input id="txtData" class="form-control form-control-xs" type="date" />
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                            <div id="divCupons">
                                <table id="tblCupons" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Data do Registro dos Cupons</th>
                                            <th>Ação</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div id="divCupons"></div>
    </div>

</form>



@*----------------- MODAL de Registro de Cupons--------- ------------------------*@
@*===============================================================================*@
<div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="h3Titulo">Registro da Folha de Cupons de Abastecimento</h3>
            </div>
            <div class="modal-body">
                <form id="frmRegistro">

                    <div class="row">

                        <div class="row">

                            <div class="col-auto">
                                <div class="form-group">
                                    <label class="label font-weight-bold">Data de Vencimento</label>
                                    <input id="txtDataRegistro" class="form-control form-control-xs" type="date" disabled="disabled" />
                                </div>
                            </div>
                            <br />
                        </div>
                        <br />
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="control-wrapper">
                                    <div>
                                        <div id="PDFContainer">
                                            <div id="pdfViewer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="control-wrapper">
                                    <div>
                                        <label class="label font-weight-bold">Observações a respeito do Registro de Cupons</label>
                                        <ejs-richtexteditor id="rte" toolbarClick="toolbarClick" locale="pt-BR" height="150px" created="onCreate">
                                            <e-richtexteditor-insertimagesettings saveUrl="api/Viagem/SaveImage" path="./DadosEditaveis/ImagensViagens/"></e-richtexteditor-insertimagesettings>
                                        </ejs-richtexteditor>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </form>
                <div class="modal-footer">
                    <button id="btnFechar" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptsBlock{


    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    @*<script src="https://cdn.kendostatic.com/2022.1.412/js/jquery.min.js"></script>*@
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>




    <script>


        $(document).ready(function () {

            $("txtData").on('keyup', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {

                    document.getElementById('txtData').onchange();

                }
            });

            ListaTodosRegistros();

        });

        // Botão Fechar do Modal
        //=============================
        $("#btnFechar").click(function (e) {
            $("div").removeClass("modal-backdrop");
        });


    </script>




    <script>

        // --------------- Filtra os Registros pela Data -------------------------
        //========================================================================
        $("#txtData").change(function () {

            var date = $('#txtData').val().split("-");
            console.log(date, $('#txtData').val())
            day = date[2];
            month = date[1];
            year = date[0];
            var dataAbastecimento = (day + "/" + month + "/" + year);

            console.log(dataAbastecimento);

            URLapi = "api/abastecimento/PegaRegistroCuponsData";

            IDapi = dataAbastecimento;

            ListaTblCupons(URLapi, IDapi);

        });


    </script>

    <script>

        function ListaTblCupons(URLapi, IDapi) {

            //------ Aciona o Loading Spinner ------------------
            //==================================================
            $('#divCupons').LoadingScript('method_12', {
                'background_image': 'img/loading7.png',
                'main_width': 200,
                'animation_speed': 10,
                'additional_style': '',
                'after_element': false
            });


            //debugger;

            var dataTableCupons = $('#tblCupons').DataTable();
            dataTableCupons.destroy();
            $('#tblCupons tbody').empty();

            console.log("Entrei na Chamada do Lista Todas as Notificações!");
            console.log("URLapi: " + URLapi);

            DataTable.datetime('DD/MM/YYYY');

            dataTableCupons = $('#tblCupons').DataTable({

                autoWidth: false,

                dom: 'Bfrtip',

                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 linhas', '25 linhas', '50 linhas', 'Todas as Linhas']
                ],

                buttons: ['pageLength', 'excel', {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }],

                "order": [[1, 'desc']],


                'columnDefs': [
                    {
                        "targets": 0, //Data
                        "className": "text-center",
                        "width": "10%",
                    },
                    {
                        "targets": 1, //Ação
                        "className": "text-center",
                        "width": "15%",
                    },
                    {
                        "targets": 2, //RowNumber
                        "className": "text-rigth",
                        "width": "1%",
                    }
                ],

                responsive: true,
                "ajax": {
                    "url": URLapi,
                    "type": "GET",
                    "data": { id: IDapi },
                    "datatype": "json"
                },
                "columns": [
                    { "data": "dataRegistro" },
                    {
                        "data": "registroCupomId",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">
                                                                                                    <a href="/Abastecimento/UpsertCupons?id=${data}" class="btn btn_topo btn-primary btn-xs text-white" aria-label="Editar o Registro!" data-microtip-position="top" role="tooltip"  style="cursor:pointer;">
                                                                                                        <i class="far fa-edit"></i>
                                                                                                    </a>

                                                                                                    <a class="btn btn_topo btn-apagar btn-danger btn-xs text-white" aria-label="Apagar a lista de Cupons!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                                                                                        <i class="far fa-window-close"></i>
                                                                                                    </a>`;
                        }
                    },
                    {
                        "data": "registroCupomId",
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                ],

                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "infoThousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",
                    "search": "Pesquisar",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar colunas de forma ascendente",
                        "sortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "1": "Selecionado 1 linha"
                        },
                        "cells": {
                            "1": "1 célula selecionada",
                            "_": "%d células selecionadas"
                        },
                        "columns": {
                            "1": "1 coluna selecionada",
                            "_": "%d colunas selecionadas"
                        }
                    },
                    "buttons": {
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        },
                        "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Visibilidade da Coluna",
                        "colvisRestore": "Restaurar Visibilidade",
                        "copy": "Copiar",
                        "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                        "copyTitle": "Copiar para a Área de Transferência",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todos os registros",
                            "_": "Mostrar %d registros"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Preencher todas as células com",
                        "fillHorizontal": "Preencher células horizontalmente",
                        "fillVertical": "Preencher células verticalmente"
                    },
                    "lengthMenu": "Exibir _MENU_ resultados por página",
                    "searchBuilder": {
                        "add": "Adicionar Condição",
                        "button": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "clearAll": "Limpar Tudo",
                        "condition": "Condição",
                        "conditions": {
                            "date": {
                                "after": "Depois",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "gt": "Maior Que",
                                "gte": "Maior ou Igual a",
                                "lt": "Menor Que",
                                "lte": "Menor ou Igual a",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "string": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "endsWith": "Termina Com",
                                "equals": "Igual",
                                "not": "Não",
                                "notEmpty": "Não Vazio",
                                "startsWith": "Começa Com"
                            },
                            "array": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "equals": "Igual à",
                                "not": "Não",
                                "notEmpty": "Não vazio",
                                "without": "Não possui"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Excluir regra de filtragem",
                        "logicAnd": "E",
                        "logicOr": "Ou",
                        "title": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "value": "Valor",
                        "leftTitle": "Critérios Externos",
                        "rightTitle": "Critérios Internos"
                    },
                    "searchPanes": {
                        "clearMessage": "Limpar Tudo",
                        "collapse": {
                            "0": "Painéis de Pesquisa",
                            "_": "Painéis de Pesquisa (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Nenhum Painel de Pesquisa",
                        "loadMessage": "Carregando Painéis de Pesquisa...",
                        "title": "Filtros Ativos"
                    },
                    "thousands": ".",
                    "datetime": {
                        "previous": "Anterior",
                        "next": "Próximo",
                        "hours": "Hora",
                        "minutes": "Minuto",
                        "seconds": "Segundo",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "months": {
                            "0": "Janeiro",
                            "1": "Fevereiro",
                            "10": "Novembro",
                            "11": "Dezembro",
                            "2": "Março",
                            "3": "Abril",
                            "4": "Maio",
                            "5": "Junho",
                            "6": "Julho",
                            "7": "Agosto",
                            "8": "Setembro",
                            "9": "Outubro"
                        },
                        "weekdays": [
                            "Domingo",
                            "Segunda-feira",
                            "Terça-feira",
                            "Quarta-feira",
                            "Quinte-feira",
                            "Sexta-feira",
                            "Sábado"
                        ]
                    },
                    "editor": {
                        "close": "Fechar",
                        "create": {
                            "button": "Novo",
                            "submit": "Criar",
                            "title": "Criar novo registro"
                        },
                        "edit": {
                            "button": "Editar",
                            "submit": "Atualizar",
                            "title": "Editar registro"
                        },
                        "error": {
                            "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                        },
                        "multi": {
                            "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                            "restore": "Desfazer alterações",
                            "title": "Multiplos valores",
                            "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                        },
                        "remove": {
                            "button": "Remover",
                            "confirm": {
                                "_": "Tem certeza que quer deletar %d linhas?",
                                "1": "Tem certeza que quer deletar 1 linha?"
                            },
                            "submit": "Remover",
                            "title": "Remover registro"
                        }
                    },
                    "decimal": ","
                },


                //"width": "100%"
            });

            $('#divCupons').LoadingScript('destroy');

        }


    </script>






    <script>

        //------------------ Apaga o Registro -------------------------------
        //===================================================================
        $(document).on('click', '.btn-apagar', function () {
            var id = $(this).data('id');

            swal({
                title: "Você tem certeza que deseja apagar este Registro?",
                text: "Não será possível recuperar os dados eliminados!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: {
                    cancel: "Cancelar",
                    confirm: "Excluir"
                }
            }).then((willDelete) => {
                if (willDelete) {
                    var dataToPost = JSON.stringify({ 'IDapi': id });
                    var url = '/api/Abastecimento/DeleteRegistro';
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: { 'IDapi': id },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                ListaTodosRegistros();
                            }
                            else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            console.log(err)
                            alert('something went wrong')
                        }
                    });

                }
            });
        });

    </script>

    <script>

        $('#modalRegistro').on('shown.bs.modal', function (event) {

            //Cria DIV do PDF
            $("#PDFContainer").append("<div id='pdfViewer'> </div>");

            defaultRTE.refreshUI();

            var button = $(event.relatedTarget); // button the triggered modal
            var RegistroId = button.data("id");

            $.ajax({
                type: "get",
                url: "/api/Abastecimento/PegaRegistroCupons",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { IDapi: RegistroId },

                success: function (data) {

                    var RegistroPDF = data.registroPDF;
                    var Observacoes = data.observacoes;

                    var rte = document.getElementById('rte').ej2_instances[0];
                    rte.value = Observacoes;

                    //$("#h3Titulo").html("Transformar em Penalidade a Autuação nº " + NumNotificacao + " de " + NomeMotorista);

                    var pdfViewer = $("#pdfViewer").kendopdfViewer({
                        pdfjsProcessing: {
                            file: "/DadosEditaveis/Cupons/" + RegistroPDF
                        },
                        width: "100%",
                        height: 400
                    }).data("kendopdfViewer");


                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });

        }).on("hide.bs.modal", function (event) {

            var rte = document.getElementById('rte').ej2_instances[0];
            rte.value = '';

            document.getElementById("txtDataRegistro").value = "";

            //Remove a DIV para excluir o PDF escolhido anteriormente
            $("#PDFContainer").remove();

        });

    </script>

}
