@page
@model FrotiX.Pages.Motorista.UploadCNHModel

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Syncfusion.EJ2
@{
    ViewData["Title"] = "Motoristas (CNH)";
    ViewData["PageName"] = "veiculo_index";
    ViewData["Heading"] = "<i class='fad fa-id-card'></i> Cadastros: <span class='fw-300'>Motoristas (CNH)</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fal fa-id-card";
}
@{
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = "/api/UploadCNH/Save", RemoveUrl = "/api/UploadCNH/Remove" };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                         <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                             <h2 class="text-primary">
                                 Upload da CNH Digitalizada - (@(Model.MotoristaObj.Motorista.Nome))
                             </h2>
                        </div>

                        <div class="col-12 pt-3">


                            <div class="container">
                                <main role="main" class="pb-3">
                                    <div id="ControlRegion">
                                        <div class="col-lg-8 control-section">
                                            <div class="control_wrapper">
                                                <ejs-uploader id="UploadFiles" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettings" locale="pt-BR" allowedExtensions=".pdf" actionComplete="onActionComplete">
                                                </ejs-uploader>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 property-section" style="display:none; visibility:hidden">
                                            <div id="property" title="Properties">
                                                <div style="margin-left: 50px; padding-top:25px;">
                                                    <ejs-checkbox id="checkAutoUpload" label="Auto Upload" checked="true" change="onChange"></ejs-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <br />

                                 <div  id="divpdf" style="width:100%;height:0px;visibility: hidden">
                                     <ejs-pdfviewer id="pdfviewer" style="height:600px" serviceUrl="/api/PdfViewerCNH" locale="pt-BR"></ejs-pdfviewer>
                                 </div>

                                 <style>
                                     .control_wrapper {
                                         max-width: 400px;
                                         margin: auto;
                                     }

                                     .e-upload {
                                         width: 100%;
                                         position: relative;
                                         margin-top: 15px;
                                     }

                                     .control_wrapper .e-upload .e-upload-drag-hover {
                                         margin: 0;
                                     }
                                 </style>
                                 <script>
                                     function onActionComplete(args) {
                                         //content = location.origin + location.pathname + '/../../';
                                         console.info("Passei pelo ActionComplete");
                                         console.log(args.fileData[0].name);

                                         document.getElementById("divpdf").style.visibility = "initial";
                                         document.getElementById("divpdf").style.height = "600px";

                                        console.info("Entrei no LOAD");
                                        $.ajax({
                                            url: '/api/PdfViewerCNH/GetDocument?id=@FrotiX.Pages.Motorista.UploadCNHModel.motoristaId',
                                            method: 'POST',
                                            cache: false,
                                            processData: false,
                                            contentType: false
                                        }).done(function (result) {
                                            console.log("DEU CERTO");
                                            pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
                                            pdfViewer.load(result, null);
                                        }).fail(function (msg, textStatus, errorThrown) {
                                            console.log('Exception' + msg.responseText);
                                        });

                                     }
                                     function onFileRemove(args) {
                                         args.postRawFile = false;
                                     }
                                     var dropElement = document.getElementsByClassName('control-fluid')[0];
                                     function onChange(args) {
                                         var uploadObj = document.getElementById("UploadFiles")
                                         uploadObj.ej2_instances[0].autoUpload = args.checked;
                                         uploadObj.ej2_instances[0].clearAll();
                                     }
                                 </script>

                                 <script>
                                     var L10n = ej.base.L10n;
                                     L10n.load({
                                         "pt-BR": {
                                             "uploader": {
                                                 "invalidMinFileSize": "O tamanho do arquivo é muito pequeno! Somente são aceitos arquivos com mais de 10kb",
                                                 "invalidMaxFileSize": "O tamanho do arquivo excede 4 MB",
                                                 "invalidFileType": "Tipo de arquivo não permitido",
                                                 "Browse": "Procurar...",
                                                 "Clear": "Limpar",
                                                 "Upload": "Upload",
                                                 "dropFilesHint": "Ou solte os arquivos aqui",
                                                 "uploadFailedMessage": "Falha no upload",
                                                 "uploadSuccessMessage": "Upload bem sucedido",
                                                 "removedSuccessMessage": "Remoção bem sucedida",
                                                 "removedFailedMessage": "Não foi possível remover o arquivo",
                                                 "inProgress": "Uploading",
                                                 "readyToUploadMessage": "Pronto para o upload",
                                                 "remove": "Remove",
                                                 "cancel": "Cancela",
                                                 "delete": "Apaga o arquivo",
                                                 "abort": "Abortar",
                                                 "pauseUpload": "Upload pausado",
                                                 "pause": "Pausa",
                                                 "resume": "Continua",
                                                 "retry": "Tentar novamente",
                                                 "fileUploadCancel": "Upload cancelado"
                                             },
                                             'PdfViewer': {
                                                 'PdfViewer': 'Visualizador de PDFs',
                                                 'Cancel': 'Cancelar',
                                                 'Download file': 'Baixar arquivo',
                                                 'Download': 'Baixar',
                                                 'Enter Password': 'Entre com a senha.',
                                                 'File Corrupted': 'Arquivo Corrompido',
                                                 'File Corrupted Content': 'Conteúdo de Arquivo Corrompido.',
                                                 'Fit Page': 'Página',
                                                 'Fit Width': 'Largura',
                                                 'Automatic': 'Automático',
                                                 'Go To First Page': 'Vá para a Primeira Página',
                                                 'Invalid Password': 'Senha Inválida',
                                                 'Next Page': 'Próxima Página',
                                                 'OK': 'Ok',
                                                 'Open': 'Abrir',
                                                 'Page Number': 'Página Número',
                                                 'Previous Page': 'Página Anterior',
                                                 'Go To Last Page': 'Vá Para a Última Página',
                                                 'Zoom': 'Zoom',
                                                 'Zoom In': 'Zoom In',
                                                 'Zoom Out': 'Zoom Out',
                                                 'Page Thumbnails': 'Miniaturas da Página',
                                                 'Bookmarks': 'Marcadores',
                                                 'Print': 'Imprimir',
                                                 'Password Protected': 'Protegido por Senha',
                                                 'Copy': 'Copiar',
                                                 'Text Selection': 'Seleção de Texto',
                                                 'Panning': 'Habilitar Panning',
                                                 'Text Search': 'Busca Texto',
                                                 'Find in document': 'Procurar no Documento',
                                                 'Match case': 'Combinar Maiúscula/Minúscula',
                                                 'Apply': 'Aplicar',
                                                 'GoToPage': 'Vá para a Página',
                                                 // tslint:disable-next-line:max-line-length
                                                 'No matches': 'Sem Combinações',
                                                 'No Text Found': 'Texto Não Encontrado',
                                                 'Undo': 'Desfazer',
                                                 'Redo': 'Refazer',
                                                 'Annotation': 'Anotação',
                                                 'Highlight': 'Ressaltar',
                                                 'Underline': 'Sublinhar',
                                                 'Strikethrough': 'Tachado',
                                                 'Delete': 'Apagar',
                                                 'Opacity': 'Opacidade',
                                                 'Color edit': 'Editar Cor',
                                                 'Opacity edit': 'Editar Opacidade',
                                                 'Highlight context': 'Ressaltar contexto',
                                                 'Underline context': 'Sublinhar contexto',
                                                 'Strikethrough context': 'Tachar contexto',
                                                 // tslint:disable-next-line:max-line-length
                                                 'Server error': 'Erro no Servidor',
                                                 'Open text': 'Abrir Texto',
                                                 'First text': 'Primeiro Texto',
                                                 'Previous text': 'Texto Anterior',
                                                 'Next text': 'Próximo Texto',
                                                 'Last text': 'Último Texto',
                                                 'Zoom in text': 'Zoom in no Texto',
                                                 'Zoom out text': 'Zoom out no Texto',
                                                 'Selection text': 'Texto Selecionado',
                                                 'Pan text': 'Pan Texto',
                                                 'Print text': 'Imprimir Texto',
                                                 'Search text': 'Procurar Texto',
                                                 'Annotation Edit text': 'Editar Texto da Anotação'
                                             }

                                         }
                                     })
                                 </script>

</div>
                                </main>
                                <br />
                                <a href="/Motorista/Upsert?id=@FrotiX.Pages.Motorista.UploadCNHModel.motoristaId" class="btn btn-info text-white float-right" style="cursor:pointer; ">
                                    <i class="far fa-edit"></i> Voltar para o Motorista
                                </a>
                                <br />
                                <br />
                            </div>

                            <script src="~/lib/jquery/dist/jquery.min.js"></script>
                            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                            <script src="~/js/site.js" asp-append-version="true"></script>
                            <ejs-scripts></ejs-scripts>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>



        $(document).ready(function () {

            console.log("Página abriu");
            console.log(@FrotiX.Pages.Motorista.UploadCNHModel.CNHDigital)

            if (@FrotiX.Pages.Motorista.UploadCNHModel.CNHDigital === 1) {

                document.getElementById("divpdf").style.visibility = "initial";
                document.getElementById("divpdf").style.height = "600px";

                $.ajax({
                    url: '/api/PdfViewerCNH/GetDocument?id=@FrotiX.Pages.Motorista.UploadCNHModel.motoristaId',
                    method: 'POST',
                    cache: false,
                    processData: false,
                    contentType: false
                }).done(function (result) {
                    console.log("DEU CERTO");
                    pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
                    pdfViewer.load(result, null);
                }).fail(function (msg, textStatus, errorThrown) {
                    console.log('Exception' + msg.responseText);
                });
            }
        });


    </script>

</body>
</html>

