@page

@using FrotiX.Repository.IRepository
@using Syncfusion.EJ2
@using Stimulsoft.Report.Mvc;
@inject IUnitOfWork _unitOfWork

@{

    @functions{
        public void OnGet()
        {
            FrotiX.Pages.Manutencao.ListaManutencaoModel.Initialize(_unitOfWork);

            ViewData["lstVeiculos"] = new ListaVeiculosManutencao(_unitOfWork).VeiculosList();
            ViewData["lstVeiculosReserva"] = new ListaVeiculosReservaManutencao(_unitOfWork).VeiculosReservaList();
            ViewData["lstStatus"] = new ListaStatusManutencao(_unitOfWork).StatusList();

        }
    }
}


@model FrotiX.Models.ViewViagens

@{
    ViewData["Title"] = "Manutenção";
    ViewData["PageName"] = "manutencao_listamanutencao";
    ViewData["Heading"] = "<i class='fa-duotone fa-users-gear'></i> Manutenção: <span class='fw-300'>Registro de Ordens de Serviço</span>";
    ViewData["Category1"] = "Manutenção";
    ViewData["PageIcon"] = "fad fa-users-gear";
}

@section HeadBlock {


}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .fundo-laranja {
        background-color: #D2691E;
        color: white;
    }

    h3:after {
        content: ' ';
        display: block;
        border: 2px solid #d0d0d0;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .btn_margem {
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .fundo-chocolate {
        background-color: #7B3F00;
        color: white;
    }

    .fundo-ebony {
        background-color: #555D50;
        color: white;
    }

    .botao {
        color: white;
        margin: 20px;
    }
</style>

<script>

    var URLapi = "";
    var IDapi = "";

    function ListaTblManutencao(URLapi, IDapi) {

        //------ Aciona o Loading Spinner ------------------
        //==================================================
        //$('#divPenalidades').LoadingScript('method_12', {
        //    'background_image': 'img/loading7.png',
        //    'main_width': 200,
        //    'animation_speed': 10,
        //    'additional_style': '',
        //    'after_element': false
        //});

        var dataTableManutencao = $('#tblManutencao').DataTable();

        dataTableManutencao.destroy();

        $('#tblManutencao tbody').empty();

        DataTable.datetime('DD/MM/YYYY');

        dataTableManutencao = $('#tblManutencao').DataTable({

            autoWidth: false,

            dom: 'Bfrtip',

            lengthMenu: [
                [10, 25, 50, -1],
                ['10 linhas', '25 linhas', '50 linhas', 'Todas as Linhas']
            ],

            buttons: ['pageLength', 'excel', {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL'
            }],

            //"aaSorting": [2],

            'columnDefs': [
                {
                    "targets": 0, //Nº OS
                    "className": "text-center",
                    "width": "9%",
                },
                {
                    "targets": 1, //Veículo
                    "className": "text-left",
                    "width": "15%",
                },
                {
                    "targets": 2, //Data Solicitação
                    "className": "text-center",
                    "width": "6%",
                },
                {
                    "targets": 3, //Data Entrega
                    "className": "text-center",
                    "width": "6%",
                },
                {
                    "targets": 4, //Data Recolhimento
                    "className": "text-center",
                    "width": "6%",
                },
                {
                    "targets": 5, //Data Devolução
                    "className": "text-center",
                    "width": "6%",
                },
                {
                    "targets": 6, //Dias
                    "className": "text-center",
                    "width": "4%",
                },
                {
                    "targets": 7, //Reserva
                    "className": "text-center",
                    "width": "4%",
                },
                {
                    "targets": 8, //Resumo OS
                    "className": "text-left",
                    "width": "20%",
                },
                {
                    "targets": 9, //Status
                    "className": "text-center",
                    "width": "8%",
                },
                {
                    "targets": 10, //Ação
                    "className": "text-center",
                    "width": "8%",
                },
            ],
            responsive: true,
            "ajax": {
                "url": URLapi,
                "data": { id: IDapi },
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "numOS" },
                { "data": "descricaoVeiculo" },
                { "data": "dataSolicitacao" },
                { "data": "dataEntrega" },
                { "data": "dataRecolhimento" },
                { "data": "dataDevolucao" },
                { "data": "dias" },
                { "data": "reserva" },
                { "data": "resumoOS" },
                {
                    "data": "statusOS",
                    "render": function (data, type, row, meta) {
                        if (data === "Aberta")
                            return '<a class="btn btn-success btn-xs text-white">Aberta</a>';
                        else
                            return '<a class="btn  btn-xs fundo-cinza text-white text-bold">Fechada</a>';
                    }
                },
                {
                    "data": "manutencaoId",
                    "render": function (data, type, full, meta) {
                        return `<div class="text-center">
                                <a href="/Manutencao/Upsert?id=${data}" class="btn btn-primary btn-xs text-white btn_margem"  id="btnEditar" aria-label="Edita a Ordem de Serviço!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                    <i class="fal fa-edit"></i>


                                <a class="btn btn btn-baixar btn-xs text-white fundo-laranja btn_margem" aria-label="${full.tooltip}" ${full.habilitado} data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                    <i class="${full.icon}"></i>
                                </a>

                                <a class="btn btn-deletemanutencao btn-danger btn-xs text-white" aria-label="Excluir a OS/Manutenção!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'><i class="far fa-trash-alt"></i></a>

                    </div>`;
                    }
                },
                //    {
                //        "data": "manutencaoId",
                //        render: function (data, type, row, meta) {
                //            return meta.row + meta.settings._iDisplayStart + 1;
                //        }
                //    },
            ],
            "language": {
                "emptyTable": "Nenhum registro encontrado",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                "infoFiltered": "(Filtrados de _MAX_ registros)",
                "infoThousands": ".",
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum registro encontrado",
                "search": "Pesquisar",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                },
                "aria": {
                    "sortAscending": ": Ordenar colunas de forma ascendente",
                    "sortDescending": ": Ordenar colunas de forma descendente"
                },
                "select": {
                    "rows": {
                        "_": "Selecionado %d linhas",
                        "1": "Selecionado 1 linha"
                    },
                    "cells": {
                        "1": "1 célula selecionada",
                        "_": "%d células selecionadas"
                    },
                    "columns": {
                        "1": "1 coluna selecionada",
                        "_": "%d colunas selecionadas"
                    }
                },
                "buttons": {
                    "copySuccess": {
                        "1": "Uma linha copiada com sucesso",
                        "_": "%d linhas copiadas com sucesso"
                    },
                    "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                    "colvis": "Visibilidade da Coluna",
                    "colvisRestore": "Restaurar Visibilidade",
                    "copy": "Copiar",
                    "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                    "copyTitle": "Copiar para a Área de Transferência",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pageLength": {
                        "-1": "Mostrar todos os registros",
                        "_": "Mostrar %d registros"
                    },
                    "pdf": "PDF",
                    "print": "Imprimir"
                },
                "autoFill": {
                    "cancel": "Cancelar",
                    "fill": "Preencher todas as células com",
                    "fillHorizontal": "Preencher células horizontalmente",
                    "fillVertical": "Preencher células verticalmente"
                },
                "lengthMenu": "Exibir _MENU_ resultados por página",
                "searchBuilder": {
                    "add": "Adicionar Condição",
                    "button": {
                        "0": "Construtor de Pesquisa",
                        "_": "Construtor de Pesquisa (%d)"
                    },
                    "clearAll": "Limpar Tudo",
                    "condition": "Condição",
                    "conditions": {
                        "date": {
                            "after": "Depois",
                            "before": "Antes",
                            "between": "Entre",
                            "empty": "Vazio",
                            "equals": "Igual",
                            "not": "Não",
                            "notBetween": "Não Entre",
                            "notEmpty": "Não Vazio"
                        },
                        "number": {
                            "between": "Entre",
                            "empty": "Vazio",
                            "equals": "Igual",
                            "gt": "Maior Que",
                            "gte": "Maior ou Igual a",
                            "lt": "Menor Que",
                            "lte": "Menor ou Igual a",
                            "not": "Não",
                            "notBetween": "Não Entre",
                            "notEmpty": "Não Vazio"
                        },
                        "string": {
                            "contains": "Contém",
                            "empty": "Vazio",
                            "endsWith": "Termina Com",
                            "equals": "Igual",
                            "not": "Não",
                            "notEmpty": "Não Vazio",
                            "startsWith": "Começa Com"
                        },
                        "array": {
                            "contains": "Contém",
                            "empty": "Vazio",
                            "equals": "Igual à",
                            "not": "Não",
                            "notEmpty": "Não vazio",
                            "without": "Não possui"
                        }
                    },
                    "data": "Data",
                    "deleteTitle": "Excluir regra de filtragem",
                    "logicAnd": "E",
                    "logicOr": "Ou",
                    "title": {
                        "0": "Construtor de Pesquisa",
                        "_": "Construtor de Pesquisa (%d)"
                    },
                    "value": "Valor",
                    "leftTitle": "Critérios Externos",
                    "rightTitle": "Critérios Internos"
                },
                "searchPanes": {
                    "clearMessage": "Limpar Tudo",
                    "collapse": {
                        "0": "Painéis de Pesquisa",
                        "_": "Painéis de Pesquisa (%d)"
                    },
                    "count": "{total}",
                    "countFiltered": "{shown} ({total})",
                    "emptyPanes": "Nenhum Painel de Pesquisa",
                    "loadMessage": "Carregando Painéis de Pesquisa...",
                    "title": "Filtros Ativos"
                },
                "thousands": ".",
                "datetime": {
                    "previous": "Anterior",
                    "next": "Próximo",
                    "hours": "Hora",
                    "minutes": "Minuto",
                    "seconds": "Segundo",
                    "amPm": [
                        "am",
                        "pm"
                    ],
                    "unknown": "-",
                    "months": {
                        "0": "Janeiro",
                        "1": "Fevereiro",
                        "10": "Novembro",
                        "11": "Dezembro",
                        "2": "Março",
                        "3": "Abril",
                        "4": "Maio",
                        "5": "Junho",
                        "6": "Julho",
                        "7": "Agosto",
                        "8": "Setembro",
                        "9": "Outubro"
                    },
                    "weekdays": [
                        "Domingo",
                        "Segunda-feira",
                        "Terça-feira",
                        "Quarta-feira",
                        "Quinte-feira",
                        "Sexta-feira",
                        "Sábado"
                    ]
                },
                "editor": {
                    "close": "Fechar",
                    "create": {
                        "button": "Novo",
                        "submit": "Criar",
                        "title": "Criar novo registro"
                    },
                    "edit": {
                        "button": "Editar",
                        "submit": "Atualizar",
                        "title": "Editar registro"
                    },
                    "error": {
                        "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                    },
                    "multi": {
                        "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                        "restore": "Desfazer alterações",
                        "title": "Multiplos valores",
                        "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                    },
                    "remove": {
                        "button": "Remover",
                        "confirm": {
                            "_": "Tem certeza que quer deletar %d linhas?",
                            "1": "Tem certeza que quer deletar 1 linha?"
                        },
                        "submit": "Remover",
                        "title": "Remover registro"
                    }
                },
                "decimal": ","
            },
            "width": "100%"
        });

        //$('#divPenalidades').LoadingScript('destroy');

    }



</script>

<script>

    var URapi = "/api/viagem";
    var IDapi = "";

    var escolhendoVeiculo = false;
    var escolhendoData = false;
    var escolhendoStatus = false;


    //------ Indica um Item Sendo Escolhido-------------
    //==================================================
    function DefineEscolhaVeiculo() {
        console.log("Fechou Veículo");
        escolhendoVeiculo = true;
        escolhendoData = false;
        escolhendoStatus = false;

        var veiculos = document.getElementById('lstVeiculos').ej2_instances[0];
        if (veiculos.value === null) {
            //ListaTodasManutencao();
        }

    }
    function DefineEscolhaData() {
        console.log("Escolheu Data");
        escolhendoVeiculo = false;
        escolhendoData = true;
        escolhendoStatus = false;
    }
    function DefineEscolhaStatus() {
        console.log("Fechou Status");
        escolhendoVeiculo = false;
        escolhendoData = false;
        escolhendoStatus = true;
        var status = document.getElementById('lstStatus').ej2_instances[0];
        if (status.value === null) {
            //ListaTodasManutencao();
        }
    }


    //------ Lista Todos as Manutenções  -------------
    //================================================

    function ListaTodasManutencao() {


        console.log("Lista Todos");

        escolhendoVeiculo = false;
        escolhendoData = false;
        escolhendoStatus = false;

        URLapi = "api/manutencao/ListaManutencao";

        IDapi = "";

        ListaTblManutencao(URLapi, IDapi);

    }


    //------ Função de Escolha do ComboBox Veículos ------------------
    //================================================================
    function VeiculosValueChange() {

        if (escolhendoVeiculo === false) {
            return;
        }

        console.log("VeiculosValueChange");

        $("#txtData").val('');
        var status = document.getElementById('lstStatus').ej2_instances[0];
        status.value = "";

        var veiculos = document.getElementById('lstVeiculos').ej2_instances[0];
        if (veiculos.value === null) {
            ListaTodasManutencao();
            return;
        }
        var veiculoId = veiculos.value.toString();

        URLapi = "api/manutencao/ListaManutencaoVeiculo";

        IDapi = veiculoId;

        ListaTblManutencao(URLapi, IDapi);

    }

    //------ Função de Escolha do ComboBox Status ------------------
    //==============================================================
    function StatusValueChange() {


        console.log("StatusValueChange");

        if (escolhendoStatus === false) {
            return;
        }


        $("#txtData").val('');
        var veiculo = document.getElementById('lstVeiculos').ej2_instances[0];
        veiculo.value = "";

        var status = document.getElementById('lstStatus').ej2_instances[0];
        //if (status.value === null || status.value === "Todas") {
        //    ListaTodasManutencao();
        //    return;
        //}
        var statusId = status.value.toString();

        console.log(statusId);

        URLapi = "api/manutencao/ListaManutencaoStatus";

        IDapi = statusId;

        ListaTblManutencao(URLapi, IDapi);

    }

    //Ajusta funcionamento do RTE no Modal
    //====================================
    var defaultRTE;

    function onCreate() {
        defaultRTE = this;
    }

</script>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content float-right">
                    <a href="/Manutencao/Upsert" class="btn btn-info">
                        <i class="fa-regular fa-users-gear">
                        </i> &nbsp; Adicionar Ordem de Serviço
                    </a>
                </div>
                <div class="panel-content ">
                    <div class="box-body">
                        <br /><br />
                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="text-primary">
                                Escolha os filtros desejados para visualizar as Ordens de Serviço:
                            </h2>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="col-2">
                                    <label class="label font-weight-bold color-black">Escolha um Mês</label>
                                    <select class="form-control form-control-xs" id="lstMes">
                                        <option value="">-- Mês --</option>
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Maio</option>
                                        <option value="6">Junho</option>
                                        <option value="7">Julho</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Setembro</option>
                                        <option value="10">Outubro</option>
                                        <option value="11">Novembro</option>
                                        <option value="12">Dezembro</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <label class="label font-weight-bold color-black">Escolha um Ano</label>
                                    <select class="form-control form-control-xs" id="lstAno">
                                        <option value="">-- Ano --</option>
                                        <option value="2025">2025</option>
                                        <option value="2024">2024</option>
                                        <option value="2023">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>

                                    </select>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-dark botao" id="btnDatas">
                                        <i class="fa-regular fa-calendar-range">
                                        </i> &nbsp; Seleciona Registros para Glosa
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <ejs-combobox id="lstVeiculos" placeholder="Selecione um Veículo..." allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstVeiculos"]" popupHeight="250px" change="DefineEscolhaVeiculo" width="100%" showClearButton="true" close="VeiculosValueChange">
                                        <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>

                                <div class="col-3">
                                    <ejs-combobox id="lstStatus" placeholder="Manutenções com Status..." allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstStatus"]" popupHeight="250px" change="DefineEscolhaStatus" width="100%" showClearButton="true" close="StatusValueChange">
                                        <e-combobox-fields text="Status" value="StatusId"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div id="divManutencao">
                            <table id="tblManutencao" class="table table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nº da OS</th>
                                        <th>Veiculo</th>
                                        <th>Solicitação</th>
                                        <th>Entrega</th>
                                        <th>Recolhimento</th>
                                        <th>Devolução</th>
                                        <th>Dias</th>
                                        <th>Reserva</th>
                                        <th>Resumo Solicitação</th>
                                        <th>Status</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* -------------- Modal de baixa da Manutenção -------------- *@
@* ========================================================== *@
<div class="modal fade" id="modalManutencao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Fechar a Ordem de Serviço</h3>
            </div>
            <div class="modal-body">
                <form id="frmManutencao">
                    <input type="hidden" id="txtId" />
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label font-weight-bold">Data da Devolução</label>
                                <input id="txtDataDevolucao" class="form-control form-control-xs" type="date" />
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <label class="label font-weight-bold">Resumo/Observações da Ordem de Serviço</label>
                                <input id="txtResumoOS" class="form-control form-control-xs" />
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label class="label font-weight-bold">Reserva Enviado</label>
                                <select id="lstReserva" class="form-control form-control-xs" onchange="fnExibeReserva()">
                                    <option value=""></option>
                                    <option value="1">Enviado</option>
                                    <option value="0">Não Enviado</option>
                                </select>
                            </div>
                        </div>
                        <div id="divReserva" style="display:none">
                            <div class="row">

                                <div class="col-12 col-md-6 col-xl-4">
                                    <label class="label font-weight-bold">Veículo Reserva</label>
                                    <ejs-combobox id="lstVeiculoReserva" placeholder="Selecione um Veículo" allowFiltering="true" filterType="Contains" dataSource="@ViewData["lstVeiculosReserva"]" popupHeight="200px" width="100%" showClearButton="true">
                                        <e-combobox-fields text="Descricao" value="Id"></e-combobox-fields>
                                    </ejs-combobox>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold">Data de Recebimento do Reserva</label>
                                        <input id="txtDataRecebimentoReserva" class="form-control form-control-xs" type="date" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold">Data de Devolucao do Reserva</label>
                                        <input id="txtDataDevolucaoReserva" class="form-control form-control-xs" type="date" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br />

                    <table id="tblItens" class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Ficha</th>
                                <th>Data</th>
                                <th>Motorista</th>
                                <th>Resumo Ocorrência</th>
                                <th>Ação</th>
                                <th>ItemManutençãoID</th>
                                <th>Descrição</th>
                                <th>Resumo Limpo</th>
                                <th>MotoristaId</th>
                                <th>CaminhoImagem</th>
                                <th>ViagemId</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </form>
                <div class="modal-footer">
                    <button id="btnFecharManutencao" class="btn btn-primary" type="submit" value="SUBMIT">Baixa Ordem de Serviço</button>
                    <button id="btnFechar" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@* -------------- Modal da Foto do Item de Manutenção -------------- *@
@* ================================================================= *@
<form method="post" asp-action="Index" enctype="multipart/form-data">
    <div class="modal fade" id="modalFoto">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">
                <div class="modal-header d-block">
                    <h4 class="modal-title" id="DynamicModalLabel">Foto da Ocorrência</h4>
                    <button id="btnFecharModal" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>

                <div class="modal-body table-bordered container-fluid">

                    <img class="img" id="imgViewerOcorrencia" style="border: 1px solid #000000; margin-top: 10px; height: 400px" />

                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section ScriptsBlock{


    <script>

        var dataTableItens;

        var defaultRTE;

        function onCreate() {

            defaultRTE = this;

        }

        var LinhaManutencaoSelecionada = 0;

        $('#tblItenstbody').on('click', 'tr', function () {
            LinhaManutencaoSelecionada = dataTableItens.row(this).index();
        });


        $('#modalManutencao').on('shown.bs.modal', function (event) {

            var dataTableManutencao = $('#tblManutencao').DataTable();
            var row = $(this).closest('tr');
            var data = dataTableManutencao.row(row).data();

            debugger;

            console.log("Linha: " + row + " - Dado: " + data);

            //var RowNumber = $(event.relatedTarget).closest("tr").find("td:eq(8)").text() - 1;

            var button = $(event.relatedTarget); // button the triggered modal
            var ManutencaoId = button.data("id");

            $('#txtId').attr('value', ManutencaoId);

            $('#btnFecharManutencao').attr("data-id", ManutencaoId);

            //console.log("Row Number: " + RowNumber);

            var data = $('#tblManutencao').DataTable().row(LinhaManutencaoSelecionada).data();

            document.getElementById("txtDataDevolucao").value = moment(Date()).format("YYYY-MM-DD");

            var ResumoOS = data['resumoOS'];
            $('#txtResumoOS').attr('value', ResumoOS);

            dataTableItens = $('#tblItens').DataTable();

            dataTableItens.destroy();

            $('#tblItens tbody').empty();

            DataTable.datetime('DD/MM/YYYY');

            dataTableItens = $('#tblItens').DataTable({

                autoWidth: false,

                dom: 'Bfrtip',

                bFilter: false,

                buttons: [],

                //"aaSorting": [],

                'columnDefs': [
                    {
                        "targets": 0, //Tipo de Ocorrência
                        "className": "text-center",
                        "width": "5%",
                    },
                    {
                        "targets": 1, //Ficha de Vistoria
                        "className": "text-center",
                        "width": "4%",
                    },
                    {
                        "targets": 2, //Data Ocorrência
                        "className": "text-center",
                        "width": "4%",
                    },
                    {
                        "targets": 3, //Motorista
                        "className": "text-left",
                        "width": "20%",
                    },
                    {
                        "targets": 4, //Resumo Ocorrência
                        "className": "text-center",
                        "width": "30%",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">
                                                                <a aria-label="&#9881; (${full.descricao})" data-microtip-position="top" role="tooltip" data-microtip-size="medium" style="cursor:pointer;"
                                                                data-id='${data}'>${full.resumo}</a></div>`;
                        },
                    },
                    {
                        "targets": 5, //Ação
                        "className": "text-center",
                        "width": "5%",
                    },
                    {
                        "targets": 6, //Item Manutenção ID
                        "className": "text-center",
                        "width": "10%",
                        "visible": false
                    },
                    {
                        "targets": 7, //Descrição
                        "className": "text-center",
                        "width": "10%",
                        "visible": false
                    },
                    {
                        "targets": 8, //Resumo Limpo
                        "className": "text-center",
                        "width": "10%",
                        "visible": false
                    },
                    {
                        "targets": 9, //MotoristaID
                        "className": "text-center",
                        "width": "10%",
                        "visible": false
                    },
                    {
                        "targets": 10, //ImagemOcorrencia
                        "className": "text-center",
                        "width": "10%",
                        "visible": false
                    },
                    {
                        "targets": 11, //ViagemId
                        "className": "text-center",
                        "width": "10%",
                        "visible": false
                    }
                ],
                responsive: true,
                "ajax": {
                    "url": "/api/manutencao/ItensOS",
                    "data": { Id: ManutencaoId },
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "tipoItem" },
                    { "data": "numFicha" },
                    { "data": "dataItem" },
                    { "data": "nomeMotorista" },
                    { "data": "resumo" },
                    {
                        "data": "itemManutencaoId",
                        "render": function (data, type, full, meta) {
                            return `<a class="btn btn-delete btn-danger btn-xs text-white" aria-label="Remover o Item!" data-microtip-position="top" role="tooltip" style="cursor:pointer;"><i class="far fa-trash-alt"></i></a>
                                                                         <a class="btn btn-xs text-white btnFoto fundo-ebony btn_margem" data-toggle="modal" data-target="#modalFoto" id="btnFoto" aria-label="Exibe Imagem!" data-microtip-position="top" role="tooltip" style="cursor:pointer;"'>
                                                                         <i class="fa-regular fa-camera-polaroid"></i></div>`;
                        }
                    },
                    { "data": "itemManutencaoId" },
                    { "data": "descricao" },
                    { "data": "resumo" },
                    { "data": "motoristaId" },
                    { "data": "imagemOcorrencia" },
                    { "data": "viagemId" },
                ],
                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "infoThousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",
                    "search": "Pesquisar",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar colunas de forma ascendente",
                        "sortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "1": "Selecionado 1 linha"
                        },
                        "cells": {
                            "1": "1 célula selecionada",
                            "_": "%d células selecionadas"
                        },
                        "columns": {
                            "1": "1 coluna selecionada",
                            "_": "%d colunas selecionadas"
                        }
                    },
                    "buttons": {
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        },
                        "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Visibilidade da Coluna",
                        "colvisRestore": "Restaurar Visibilidade",
                        "copy": "Copiar",
                        "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                        "copyTitle": "Copiar para a Área de Transferência",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todos os registros",
                            "_": "Mostrar %d registros"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Preencher todas as células com",
                        "fillHorizontal": "Preencher células horizontalmente",
                        "fillVertical": "Preencher células verticalmente"
                    },
                    "lengthMenu": "Exibir _MENU_ resultados por página",
                    "searchBuilder": {
                        "add": "Adicionar Condição",
                        "button": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "clearAll": "Limpar Tudo",
                        "condition": "Condição",
                        "conditions": {
                            "date": {
                                "after": "Depois",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "gt": "Maior Que",
                                "gte": "Maior ou Igual a",
                                "lt": "Menor Que",
                                "lte": "Menor ou Igual a",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "string": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "endsWith": "Termina Com",
                                "equals": "Igual",
                                "not": "Não",
                                "notEmpty": "Não Vazio",
                                "startsWith": "Começa Com"
                            },
                            "array": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "equals": "Igual à",
                                "not": "Não",
                                "notEmpty": "Não vazio",
                                "without": "Não possui"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Excluir regra de filtragem",
                        "logicAnd": "E",
                        "logicOr": "Ou",
                        "title": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "value": "Valor",
                        "leftTitle": "Critérios Externos",
                        "rightTitle": "Critérios Internos"
                    },
                    "searchPanes": {
                        "clearMessage": "Limpar Tudo",
                        "collapse": {
                            "0": "Painéis de Pesquisa",
                            "_": "Painéis de Pesquisa (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Nenhum Painel de Pesquisa",
                        "loadMessage": "Carregando Painéis de Pesquisa...",
                        "title": "Filtros Ativos"
                    },
                    "thousands": ".",
                    "datetime": {
                        "previous": "Anterior",
                        "next": "Próximo",
                        "hours": "Hora",
                        "minutes": "Minuto",
                        "seconds": "Segundo",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "months": {
                            "0": "Janeiro",
                            "1": "Fevereiro",
                            "10": "Novembro",
                            "11": "Dezembro",
                            "2": "Março",
                            "3": "Abril",
                            "4": "Maio",
                            "5": "Junho",
                            "6": "Julho",
                            "7": "Agosto",
                            "8": "Setembro",
                            "9": "Outubro"
                        },
                        "weekdays": [
                            "Domingo",
                            "Segunda-feira",
                            "Terça-feira",
                            "Quarta-feira",
                            "Quinte-feira",
                            "Sexta-feira",
                            "Sábado"
                        ]
                    },
                    "editor": {
                        "close": "Fechar",
                        "create": {
                            "button": "Novo",
                            "submit": "Criar",
                            "title": "Criar novo registro"
                        },
                        "edit": {
                            "button": "Editar",
                            "submit": "Atualizar",
                            "title": "Editar registro"
                        },
                        "error": {
                            "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                        },
                        "multi": {
                            "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                            "restore": "Desfazer alterações",
                            "title": "Multiplos valores",
                            "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                        },
                        "remove": {
                            "button": "Remover",
                            "confirm": {
                                "_": "Tem certeza que quer deletar %d linhas?",
                                "1": "Tem certeza que quer deletar 1 linha?"
                            },
                            "submit": "Remover",
                            "title": "Remover registro"
                        }
                    },
                    "decimal": ","
                },
                "width": "100%"
            });



        }).on("hide.bs.modal", function (event) {

            //    $('#txtResumo').removeAttr("readonly")

            //    $('#txtResumo').attr('value', '');
            //    var descricao = document.getElementById('rteManutencao').ej2_instances[0];
            //    descricao.value = '';

            //    var solucao = document.getElementById('rteSolucao').ej2_instances[0];
            //    solucao.value = '';

            //    $('#btnFinalizarViagem').attr('visible', 'true');
        });


    </script>

    <script>

        $(document).ready(function () {

            ListaTodasManutencao();

            // $("#txtData").change(function () {

            //     DefineEscolhaData();

            //     console.log("txtDataChange");

            //     var veiculos = document.getElementById('lstVeiculos').ej2_instances[0];
            //     veiculos.value = "";

            //     var date = $('#txtData').val().split("-");
            //     console.log(date, $('#txtData').val())
            //     day = date[2];
            //     month = date[1];
            //     year = date[0];
            //     var dataViagem = (day + "/" + month + "/" + year);

            //     console.log(dataViagem);

            //     URLapi = "api/manutencao/ListaManutencaoData";

            //     IDapi = dataViagem;

            //     ListaTblManutencao(URLapi, IDapi);

            // });

        });


        // Botão Fechar do Modal
        //=============================
        $("#btnFechar").click(function (e) {
            $("div").removeClass("modal-backdrop");
        });


        // Botão Fechar Manutenção do Modal
        //=================================
        $("#btnFecharManutencao").click(function (e) {

            e.preventDefault();

            DataDevolucao = $("#txtDataDevolucao").val();
            var ManutencaoId = $('#btnFecharManutencao').data('id');

            if (DataDevolucao === '') {
                swal({
                    title: "Informação Ausente",
                    text: "A Data de Devolução é Obrigatória",
                    icon: "error",
                    buttons: true,
                    
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            var reservaEnviado = $("#lstReserva").val();
            var veiculoReserva = document.getElementById('lstVeiculoReserva').ej2_instances[0];

            DataRecebimentoReserva = $("#txtDataRecebimentoReserva").val();
            DataDevolucaoReserva = $("#txtDataDevolucaoReserva").val();

            debugger;

            if (reservaEnviado === '1') {
                if (veiculoReserva.value === '' || veiculoReserva.value === null) {
                    swal({
                        title: "Informação Ausente",
                        text: "O Veículo Reserva é Obrigatório",
                        icon: "error",
                        buttons: true,
                        
                        buttons: {
                            ok: "Ok"
                        }
                    })
                    return;
                }
            }

            if (veiculoReserva.value != '' && veiculoReserva.value != null) {
                if ((DataRecebimentoReserva === '' || DataDevolucaoReserva === '')) {

                    swal({
                        title: "Informação Ausente",
                        text: "A Data de Recebimento do Reserva e a Data de Devolução são obrigatórias!",
                        icon: "error",
                        buttons: true,
                        
                        buttons: {
                            ok: "Ok"
                        }
                    })
                    return;
                }
            }

            var objManutencao = JSON.stringify({
                "ManutencaoId": ManutencaoId,
                "ResumoManutencao": $('#txtResumo').val(),
                "DataDevolucao": $("#txtDataDevolucao").val(),
                "DataRecebimentoReserva": DataRecebimentoReserva,
                "DataDevolucaoReserva": DataDevolucaoReserva,
                "VeiculoReservaId": veiculoReserva.value
            });


            $.ajax
                ({
                    type: "post",
                    url: "/api/Manutencao/FechaOS",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: objManutencao,
                    success: function (data) {

                    }
                });

            //-------- Fecha os Itens de Manutencao ----------------
            //======================================================

            //-------- Bota Todos como Pendência -------------------
            $.ajax({
                type: "post",
                url: "/api/Manutencao/ZeraItensOS",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: objManutencao,
                async: false,
                success: function (data) {
                },
                error: function (data) {
                    alert('error');
                    console.log(data);
                }
            });

            //-------- Fecha os Itens que Estão no Grid --------------
            Linhas = dataTableItens.rows().count()

            for (var i = 0; i < Linhas; i++) {


                // ----- Pega os dados da linha
                var dataOS = $('#tblItens').DataTable().row(i).data();

                StatusItem = "Baixada";

                var objItemOS = JSON.stringify({
                    "ItemManutencaoId": dataOS['itemManutencaoId'],
                    "ManutencaoId": ManutencaoId,
                    "Status": StatusItem,
                });

                $.ajax({
                    type: "post",
                    url: "api/Ocorrencia/FechaItemOS",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: objItemOS,
                    async: false,
                    success: function (data) {
                    },
                    error: function (data) {
                        toastr.error(data.message);
                        console.log(data);

                    }
                });

            };

            toastr.success("Manutenção/OS Baixada com Sucesso!");
            $('#tblManutencao').DataTable().ajax.reload(null, false);
            $("#modalManutencao").hide();
            $("div").removeClass("modal-backdrop");

            $('body').removeClass('modal-open');
            $("body").css("overflow", "auto");


        });


        // ------------------ Apaga a Manutenção --------------------------
        //=================================================================
        $(document).on('click', '.btn-deletemanutencao', function () {

            var Id = $(this).data('id');

            //debugger;

            swal({
                title: "Você tem certeza que deseja apagar esta OS/Manutenção?",
                text: "Não será possível recuperar os dados eliminados!",
                icon: "warning",
                buttons: true,
                
                buttons: {
                    cancel: "Cancelar",
                    confirm: "Excluir"
                }
            }).then((willDelete) => {
                if (willDelete) {
                    var dataToPost = { Id: Id };
                    var url = '/api/Manutencao/DeleteOS';
                    $.ajax({
                        url: url,
                        type: "GET",
                        data: { Id: Id },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                location.reload();
                            }
                            else {
                                toastr.error(data.message);
                            }
                        },
                        error: function (err) {
                            console.log(err)
                            alert('something went wrong')
                        }
                    });

                }
            });
        });





    </script>

    <script>


        var LinhaSelecionada = 0;

        $('#tblItens tbody').on('click', 'tr', function () {
            LinhaSelecionada = dataTableItens.row(this).index();
        });

        //Modal da Foto da Ocorrência - Não pode Editar
        //---------------------------------------------
        $("#modalFoto").modal
            ({
                keyboard: true,
                backdrop: "static",
                show: false,

            }).on("show.bs.modal", function (event) {

                //var RowNumber = $(event.relatedTarget).closest("tr").find("td:eq(8)").text() - 1;

                $('#imgViewerOcorrencia').removeAttr("src")

                //Exibem Imagem da Ocorrência
                if (dataTableItens.cell(LinhaSelecionada, 10).data() != null && dataTableItens.cell(LinhaSelecionada, 10).data() != '' && dataTableItens.cell(LinhaSelecionada, 10).data() != 'null') {
                    $('#imgViewerOcorrencia').attr('src', "/DadosEditaveis/ImagensOcorrencias/" + dataTableItens.cell(LinhaSelecionada, 10).data());
                }
                else {
                    $('#imgViewerOcorrencia').attr('src', "/DadosEditaveis/ImagensOcorrencias/semimagem.jpg");
                }

                //debugger;

            }).on("hide.bs.modal", function (event) {
                $('#imgViewerOcorrencia').removeAttr("src")
            });

    </script>

    <script>

        $('#tblItens').on('click', 'a.btn-delete', function () {

            //Remove a linha excluída
            dataTableItens
                .row($(this).parents('tr'))
                .remove()
                .draw();
        });

    </script>

    <script>

        function fnExibeReserva() {

            //debugger;

            if (document.getElementById("lstReserva").value === "1") {

                document.getElementById("divReserva").style.display = "block";
            }
            else {
                document.getElementById("divReserva").style.display = "none";
            }
        }

    </script>

    <script>

        // ------------------ Seleciona Intervalo --------------------------
        //==================================================================
        $("#btnDatas").click(function () {



            Mes = $("#lstMes").val();
            if (Mes === '') {
                swal({
                    title: "Informação Ausente",
                    text: "O Mês é Obrigatório",
                    icon: "error",
                    buttons: true,
                    
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }


            Ano = $("#lstAno").val();
            if (Ano === '') {
                swal({
                    title: "Informação Ausente",
                    text: "O Ano é Obrigatório",
                    icon: "error",
                    buttons: true,
                    
                    buttons: {
                        ok: "Ok"
                    }
                })
                return;
            }

            var dataTableManutencao = $('#tblManutencao').DataTable();

            dataTableManutencao.destroy();

            $('#tblManutencao tbody').empty();

            DataTable.datetime('DD/MM/YYYY');

            dataTableManutencao = $('#tblManutencao').DataTable({

                autoWidth: false,

                dom: 'Bfrtip',

                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 linhas', '25 linhas', '50 linhas', 'Todas as Linhas']
                ],

                buttons: ['pageLength', 'excel', {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }],

                //"aaSorting": [2],

                'columnDefs': [
                    {
                        "targets": 0, //Nº OS
                        "className": "text-center",
                        "width": "9%",
                    },
                    {
                        "targets": 1, //Veículo
                        "className": "text-left",
                        "width": "15%",
                    },
                    {
                        "targets": 2, //Data Solicitação
                        "className": "text-center",
                        "width": "6%",
                    },
                    {
                        "targets": 3, //Data Entrega
                        "className": "text-center",
                        "width": "6%",
                    },
                    {
                        "targets": 4, //Data Recolhimento
                        "className": "text-center",
                        "width": "6%",
                    },
                    {
                        "targets": 5, //Data Devolução
                        "className": "text-center",
                        "width": "6%",
                    },
                    {
                        "targets": 6, //Dias
                        "className": "text-center",
                        "width": "4%",
                    },
                    {
                        "targets": 7, //Reserva
                        "className": "text-center",
                        "width": "4%",
                    },
                    {
                        "targets": 8, //Resumo OS
                        "className": "text-left",
                        "width": "20%",
                    },
                    {
                        "targets": 9, //Status
                        "className": "text-center",
                        "width": "8%",
                    },
                    {
                        "targets": 10, //Ação
                        "className": "text-center",
                        "width": "8%",
                    },
                ],
                responsive: true,
                "ajax": {
                    "url": "/api/Manutencao/ListaManutencaoIntervalo",
                    "data": { mes: Mes, ano: Ano},
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "numOS" },
                    { "data": "descricaoVeiculo" },
                    { "data": "dataSolicitacao" },
                    { "data": "dataEntrega" },
                    { "data": "dataRecolhimento" },
                    { "data": "dataDevolucao" },
                    { "data": "dias" },
                    { "data": "reserva" },
                    { "data": "resumoOS" },
                    {
                        "data": "statusOS",
                        "render": function (data, type, row, meta) {
                            if (data === "Aberta")
                                return '<a class="btn btn-success btn-xs text-white">Aberta</a>';
                            else
                                return '<a class="btn  btn-xs fundo-cinza text-white text-bold">Fechada</a>';
                        }
                    },
                    {
                        "data": "manutencaoId",
                        "render": function (data, type, full, meta) {
                            return `<div class="text-center">
                                <a href="/Manutencao/Upsert?id=${data}" class="btn btn-primary btn-xs text-white btn_margem"  id="btnEditar" aria-label="Edita a Ordem de Serviço!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                    <i class="fal fa-edit"></i>


                                <a class="btn btn btn-baixar btn-xs text-white fundo-laranja btn_margem" aria-label="${full.tooltip}" ${full.habilitado} data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'>
                                    <i class="${full.icon}"></i>
                                </a>

                                <a class="btn btn-deletemanutencao btn-danger btn-xs text-white" aria-label="Excluir a OS/Manutenção!" data-microtip-position="top" role="tooltip" style="cursor:pointer;" data-id='${data}'><i class="far fa-trash-alt"></i></a>

                    </div>`;
                        }
                    },
                ],
                "language": {
                    "emptyTable": "Nenhum registro encontrado",
                    "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "infoThousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "zeroRecords": "Nenhum registro encontrado",
                    "search": "Pesquisar",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior",
                        "first": "Primeiro",
                        "last": "Último"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar colunas de forma ascendente",
                        "sortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "1": "Selecionado 1 linha"
                        },
                        "cells": {
                            "1": "1 célula selecionada",
                            "_": "%d células selecionadas"
                        },
                        "columns": {
                            "1": "1 coluna selecionada",
                            "_": "%d colunas selecionadas"
                        }
                    },
                    "buttons": {
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        },
                        "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                        "colvis": "Visibilidade da Coluna",
                        "colvisRestore": "Restaurar Visibilidade",
                        "copy": "Copiar",
                        "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                        "copyTitle": "Copiar para a Área de Transferência",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Mostrar todos os registros",
                            "_": "Mostrar %d registros"
                        },
                        "pdf": "PDF",
                        "print": "Imprimir"
                    },
                    "autoFill": {
                        "cancel": "Cancelar",
                        "fill": "Preencher todas as células com",
                        "fillHorizontal": "Preencher células horizontalmente",
                        "fillVertical": "Preencher células verticalmente"
                    },
                    "lengthMenu": "Exibir _MENU_ resultados por página",
                    "searchBuilder": {
                        "add": "Adicionar Condição",
                        "button": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "clearAll": "Limpar Tudo",
                        "condition": "Condição",
                        "conditions": {
                            "date": {
                                "after": "Depois",
                                "before": "Antes",
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "number": {
                                "between": "Entre",
                                "empty": "Vazio",
                                "equals": "Igual",
                                "gt": "Maior Que",
                                "gte": "Maior ou Igual a",
                                "lt": "Menor Que",
                                "lte": "Menor ou Igual a",
                                "not": "Não",
                                "notBetween": "Não Entre",
                                "notEmpty": "Não Vazio"
                            },
                            "string": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "endsWith": "Termina Com",
                                "equals": "Igual",
                                "not": "Não",
                                "notEmpty": "Não Vazio",
                                "startsWith": "Começa Com"
                            },
                            "array": {
                                "contains": "Contém",
                                "empty": "Vazio",
                                "equals": "Igual à",
                                "not": "Não",
                                "notEmpty": "Não vazio",
                                "without": "Não possui"
                            }
                        },
                        "data": "Data",
                        "deleteTitle": "Excluir regra de filtragem",
                        "logicAnd": "E",
                        "logicOr": "Ou",
                        "title": {
                            "0": "Construtor de Pesquisa",
                            "_": "Construtor de Pesquisa (%d)"
                        },
                        "value": "Valor",
                        "leftTitle": "Critérios Externos",
                        "rightTitle": "Critérios Internos"
                    },
                    "searchPanes": {
                        "clearMessage": "Limpar Tudo",
                        "collapse": {
                            "0": "Painéis de Pesquisa",
                            "_": "Painéis de Pesquisa (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Nenhum Painel de Pesquisa",
                        "loadMessage": "Carregando Painéis de Pesquisa...",
                        "title": "Filtros Ativos"
                    },
                    "thousands": ".",
                    "datetime": {
                        "previous": "Anterior",
                        "next": "Próximo",
                        "hours": "Hora",
                        "minutes": "Minuto",
                        "seconds": "Segundo",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "unknown": "-",
                        "months": {
                            "0": "Janeiro",
                            "1": "Fevereiro",
                            "10": "Novembro",
                            "11": "Dezembro",
                            "2": "Março",
                            "3": "Abril",
                            "4": "Maio",
                            "5": "Junho",
                            "6": "Julho",
                            "7": "Agosto",
                            "8": "Setembro",
                            "9": "Outubro"
                        },
                        "weekdays": [
                            "Domingo",
                            "Segunda-feira",
                            "Terça-feira",
                            "Quarta-feira",
                            "Quinte-feira",
                            "Sexta-feira",
                            "Sábado"
                        ]
                    },
                    "editor": {
                        "close": "Fechar",
                        "create": {
                            "button": "Novo",
                            "submit": "Criar",
                            "title": "Criar novo registro"
                        },
                        "edit": {
                            "button": "Editar",
                            "submit": "Atualizar",
                            "title": "Editar registro"
                        },
                        "error": {
                            "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                        },
                        "multi": {
                            "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                            "restore": "Desfazer alterações",
                            "title": "Multiplos valores",
                            "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                        },
                        "remove": {
                            "button": "Remover",
                            "confirm": {
                                "_": "Tem certeza que quer deletar %d linhas?",
                                "1": "Tem certeza que quer deletar 1 linha?"
                            },
                            "submit": "Remover",
                            "title": "Remover registro"
                        }
                    },
                    "decimal": ","
                },
                "width": "100%"
            });

        });

    </script>


}
