@page
@model FrotiX.Models.PlacaBronze

@{
    ViewData["Title"] = "Infrações";
    ViewData["PageName"] = "multa_tiposmulta";
    ViewData["Heading"] = "<i class='fad fa-ballot-check'></i> Cadastros: <span class='fw-300'>Código de Trânsito - Infrações</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fal fa-ballot-check";
}

@section HeadBlock {



    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.412/styles/kendo.default-v2.min.css" />


    <script src="https://kendo.cdn.telerik.com/2022.1.412/js/kendo.all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>

    <script>window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';</script>
}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .label {
        color: white;
    }
</style>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content float-right">
                    <a href="/Multa/UpsertTipoMulta" class="btn btn-info">
                        <i class="fal fa-ballot-check">
                        </i> &nbsp; Adicionar Infração
                    </a>
                </div>
                <div class="panel-content ">
                    <div class="box-body">
                        <br /><br />
                        <table id="tblTipoMulta" class="table table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>Artigo/Parágrafo/Índice</th>
                                    <th>Código Denatran</th>
                                    <th>Descrição</th>
                                    <th>Infração</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptsBlock{


    <script>

        var dataTable;

        $(document).ready(function () {
            loadList();

            $(document).on('click', '.btn-delete', function () {
                var id = $(this).data('id');

                swal({
                    title: "Você tem certeza que deseja apagar este tipo de multa?",
                    text: "Não será possível recuperar os dados eliminados!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    buttons: {
                        cancel: "Cancelar",
                        confirm: "Excluir"
                    }
                }).then((willDelete) => {
                    if (willDelete) {
                        var dataToPost = JSON.stringify({ 'TipoMultaId': id });
                        var url = '/api/Multa/DeleteTipoMulta';
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: dataToPost,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data.success) {
                                    toastr.success(data.message);
                                    dataTable.ajax.reload();
                                }
                                else {
                                    toastr.error(data.message);
                                }
                            },
                            error: function (err) {
                                console.log(err)
                                alert('something went wrong')
                            }
                        });

                    }
                });
            });
        });

        function loadList() {
            dataTable = $('#tblTipoMulta').DataTable({

                autoWidth: false,

                dom: 'Bfrtip',

                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 linhas', '25 linhas', '50 linhas', 'Todas as Linhas']
                ],

                buttons: ['pageLength', 'excel', {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    pageSize: 'LEGAL'
                }],

                "order": [[0, 'asc']],


                'columnDefs': [
                    {
                        "targets": 0, // Artigo
                        "className": "text-left",
                        "width": "10%"
                    },
                    {
                        "targets": 1, // Denatran
                        "className": "text-left",
                        "width": "10%"
                    },
                    {
                        "targets": 2, // Descrição
                        "className": "text-left",
                        "width": "60%"
                    },
                    {
                        "targets": 3, // Infração
                        "className": "text-center",
                        "width": "10%"
                    },
                    {
                        "targets": 4, // Ações
                        "className": "text-center",
                        "width": "10%"
                    }
                ],
                responsive: true,
                "ajax": {
                    "url": "/api/Multa/PegaTipoMulta",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "artigo" },
                    { "data": "denatran" },
                    { "data": "descricao" },
                    { "data": "infracao" },
                    {
                        "data": "tipoMultaId",
                        "render": function (data) {
                            return `<div class="text-center">
                                        <a href="/Multa/UpsertTipoMulta?id=${data}" class="btn btn-primary btn-xs text-white" style="cursor:pointer; ">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn-delete btn btn-danger btn-xs text-white" style="cursor:pointer; " data-id='${data}'>
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                            </div>`;
                        },
                    },
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json",
                    "emptyTable": "Sem Dados para Exibição"
                },
                "width": "100%"
            });
        }



    </script>


}
