@page
@model FrotiX.Models.OrgaoAutuante

@{
    ViewData["Title"] = "Orgãos Autuantes";
    ViewData["PageName"] = "multa_listaorgaosautuantes";
    ViewData["Heading"] = "<i class='fad fa-monument'></i>&nbsp;Cadastros: <span class='fw-300'>Orgãos Autuantes</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fal fa-monument";
}

@section HeadBlock {

}

<style>
    .fundo-cinza {
        background-color: #2F4F4F;
        color: aliceblue;
    }

    .label {
        color: white;
    }
</style>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content float-right">
                    <a href="/Multa/UpsertOrgaoAutuante" class="btn btn-info">
                        <i class="fal fa-monument">
                        </i> &nbsp; Adicionar Órgão Autuante
                    </a>
                </div>
                <div class="panel-content ">
                    <div class="box-body">
                        <br /><br />
                        <table id="tblOrgaoAutuante" class="table table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>Sigla</th>
                                    <th>Nome</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ScriptsBlock{

    <script src="~/js//cadastros/orgaoautuante.js"></script>
}
