@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using Syncfusion.EJ2
@model FrotiX.Pages.Viagens.TabstripModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Viagens";
    ViewData["PageName"] = "viagem_index";
    ViewData["Heading"] = "<i class='fad fa-route'></i> Cadastros: <span class='fw-300'>Viagens</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fad fa-route";
}

<style>
    .sunny, .cloudy, .rainy {
        display: block;
        margin: 30px auto 10px;
        width: 128px;
        height: 128px;
        background: url('../content/web/tabstrip/weather.png') transparent no-repeat 0 0;
    }

    .cloudy {
        background-position: -128px 0;
    }

    .rainy {
        background-position: -256px 0;
    }

    .weather {
        margin: 0 auto 30px;
        text-align: center;
    }

    #tabstrip h2 {
        font-weight: lighter;
        font-size: 5em;
        line-height: 1;
        padding: 0 0 0 30px;
        margin: 0;
    }

        #tabstrip h2 span {
            background: none;
            padding-left: 5px;
            font-size: .3em;
            vertical-align: top;
        }

    #tabstrip p {
        margin: 0;
        padding: 0;
    }
</style>

<style>
    .form-control-xs {
        height: calc(1em + .775rem + 10px) !important;
        padding: .125rem .25rem !important;
        font-size: .75rem !important;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .label {
        margin-bottom: -5px;
        margin-top: 10px;
    }

    input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

    .btn-largura {
        width: 100px;
        height: 100px;
    }
</style>

@section HeadBlock {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/microtip.css" />

}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div id="divPainel" class="panel-content">

                    <div id="example">
                        <div class="demo-section">
                            <div id="tabstrip">
                                <ul>
                                    <li class="k-state-active">
                                        Paris
                                    </li>
                                    <li>
                                        New York
                                    </li>
                                    <li>
                                        London
                                    </li>
                                    <li>
                                        Moscow
                                    </li>
                                </ul>
                                <div>
                                    <div class="weather">
                                        <table id="tblMotorista" class="table table-bordered table-striped" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Ponto</th>
                                                    <th>CNH</th>
                                                    <th>Categoria</th>
                                                    <th>Celular</th>
                                                    <th>Unidade</th>
                                                    <th>Status</th>
                                                    <th>Ação</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <span class="sunny">&nbsp;</span>
                                    <div class="weather">
                                        <h2>29<span>&ordm;C</span></h2>
                                        <p>Sunny weather in New York.</p>
                                    </div>
                                </div>
                                <div>
                                    <span class="sunny">&nbsp;</span>
                                    <div class="weather">
                                        <h2>21<span>&ordm;C</span></h2>
                                        <p>Sunny weather in London.</p>
                                    </div>
                                </div>
                                <div>
                                    <span class="cloudy">&nbsp;</span>
                                    <div class="weather">
                                        <h2>16<span>&ordm;C</span></h2>
                                        <p>Cloudy weather in Moscow.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section ScriptsBlock
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.kendostatic.com/2022.1.412/styles/kendo.default-main.min.css" rel="stylesheet" type="text/css" />
    @*
        <script src="https://cdn.kendostatic.com/2022.1.412/js/jquery.min.js"></script>*@
    <script src="https://cdn.kendostatic.com/2022.1.412/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.412/js/kendo.aspnetmvc.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.js"></script>
    <script>
        window.pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.worker.js';
    </script>

    <script>
        $(document).ready(function () {
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
        });
    </script>


}
