@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model FrotiX.Pages.Unidade.UpsertModel

@{ ViewData["Title"] = "Unidades Usuárias";
    ViewData["PageName"] = "unidade_upsert";
    ViewData["Heading"] = "<i class='fa-duotone fa-chalkboard-user'></i> Cadastros: <span class='fw-300'>Unidades Usuárias</span>";
    ViewData["Category1"] = "Cadastros";
    ViewData["PageIcon"] = "fa-duotone fa-chalkboard-user"; }

<style>
    .form-control-xs {
        height: calc(1em + .775rem + 2px) !important;
        padding: .125rem .25rem !important;
        font-size: .75rem !important;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .label {
        margin-bottom: -5px;
        margin-top: 10px;
    }

    input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
    }

</style>

@section HeadBlock {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
}


<form method="post" asp-action="Upsert">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (Model.UnidadeObj.UnidadeId != Guid.Empty)
                        {
                            <input type="hidden" asp-for="UnidadeObj.UnidadeId" />
                        }

                        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                            <h2 class="text-primary">@(Model.UnidadeObj.UnidadeId != Guid.Empty ? "Atualizar " : "Criar ") Unidade Usuária</h2>
                        </div>

                        <div class="col-8 pt-3">

                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.Sigla"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.Sigla"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.Sigla" placeholder="Insira a sigla" />
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.Descricao"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.Descricao"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.Descricao" placeholder="Insira a descrição da unidade" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.Categoria"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.Categoria"></span>
                                        <select class="form-control form-control-xs" asp-for="UnidadeObj.Categoria">
                                            <option value="">-- Categoria --</option>
                                            <option value="Presidência">Presidência</option>
                                            <option value="Mesa">Mesa</option>
                                            <option value="DG">DG</option>
                                            <option value="SGM">SGM</option>
                                            <option value="Liderança">Liderança</option>
                                            <option value="Secom">Secom</option>
                                            <option value="SNE">SNE</option>
                                            <option value="Fixos">Fixos</option>
                                            <option value="Gerais">Gerais</option>
                                            <option value="Depol">Depol</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.QtdMotoristas"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.QtdMotoristas"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.QtdMotoristas" placeholder="Insira a quantidade de motoristas" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group font-weight-bold">
                                        <label class="label" asp-for="UnidadeObj.PrimeiroContato"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.PrimeiroContato"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.PrimeiroContato" placeholder="Insira o NOME do contato" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.PontoPrimeiroContato"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.PontoPrimeiroContato"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.PontoPrimeiroContato" placeholder="Insira o PONTO" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group font-weight-bold">
                                        <label class="label" asp-for="UnidadeObj.PrimeiroRamal"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.PrimeiroRamal"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.PrimeiroRamal" placeholder="Insira o ramal/celular" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.SegundoContato"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.SegundoContato"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.SegundoContato" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.PontoSegundoContato"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.PontoSegundoContato"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.PontoSegundoContato" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.SegundoRamal"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.SegundoRamal"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.SegundoRamal" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.TerceiroContato"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.TerceiroContato"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.TerceiroContato" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.PontoTerceiroContato"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.PontoTerceiroContato"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.PontoTerceiroContato" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label class="label font-weight-bold" asp-for="UnidadeObj.TerceiroRamal"></label>
                                        <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.TerceiroRamal"></span>
                                        <input class="form-control form-control-xs" asp-for="UnidadeObj.TerceiroRamal" />
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="font-weight-bold" asp-for="UnidadeObj.Status">
                                            <span class="text-danger font-weight-light" asp-validation-for="UnidadeObj.Status"></span>
                                            <input type="checkbox" class="form-check-input" asp-for="UnidadeObj.Status" /> Ativo/Inativo
                                        </label>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-primary form-control">@(Model.UnidadeObj.UnidadeId != Guid.Empty ? "Atualizar" : "Criar")</button>

                                        </div>
                                        <div class="col-6">
                                            <a asp-page="./Index" class="btn btn-success form-control">Voltar à Lista</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section ScriptsBlock
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

}
